#include<iostream>
using namespace std;
int n;
int minfinding( int v[100],int start, int sfarsit)
{
    if(start<=sfarsit)
    {
        if(start==sfarsit)
        {
            return v[start];
        }
        int mijloc=(start+(sfarsit-start)/2);
        int stanga,dreapta;
        stanga= minfinding(v,start,mijloc);
        dreapta= minfinding(v,mijloc+1,sfarsit);
        if(stanga>dreapta)
        {
            return dreapta;
        }
        else
        {
            return stanga;
        }
    }
}
int main()
{
    int v[100];
    cout<<"Nr de numere: ";
    cin>>n;
    for(int i=1;i<=n;i++)
    {
        cin>>v[i];
    }
    int minvalue(int v[100],int start, int sfarsit);
    cout<<"minvalue=";
    cout<<minfinding(v,1,n);
}
